/cmake-build-debug/
/.idea/
/cmake-build-release/.cmake/api/v1/query/cache-v2
/cmake-build-release/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-release/.cmake/api/v1/query/codemodel-v2
/cmake-build-release/.cmake/api/v1/query/toolchains-v1
/cmake-build-release/.cmake/api/v1/reply/cache-v2-2276baa55e596b48de2a.json
/cmake-build-release/.cmake/api/v1/reply/cmakeFiles-v1-501b9829b4401209df32.json
/cmake-build-release/.cmake/api/v1/reply/codemodel-v2-3fa31fb998d82064d7fd.json
/cmake-build-release/.cmake/api/v1/reply/directory-.-Release-f5ebdc15457944623624.json
/cmake-build-release/.cmake/api/v1/reply/index-2025-02-22T15-49-00-0953.json
/cmake-build-release/.cmake/api/v1/reply/target-efectos_pec1-Release-0d7287ec503ae453867b.json
/cmake-build-release/.cmake/api/v1/reply/toolchains-v1-2f427dcd6919a7ef66e5.json
/cmake-build-release/CMakeFiles/3.30.5/CompilerIdC/CMakeCCompilerId.c
/cmake-build-release/CMakeFiles/3.30.5/CompilerIdC/CMakeCCompilerId.o
/cmake-build-release/CMakeFiles/3.30.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-release/CMakeFiles/3.30.5/CompilerIdCXX/CMakeCXXCompilerId.o
/cmake-build-release/CMakeFiles/3.30.5/CMakeCCompiler.cmake
/cmake-build-release/CMakeFiles/3.30.5/CMakeCXXCompiler.cmake
/cmake-build-release/CMakeFiles/3.30.5/CMakeDetermineCompilerABI_C.bin
/cmake-build-release/CMakeFiles/3.30.5/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-release/CMakeFiles/3.30.5/CMakeSystem.cmake
/cmake-build-release/CMakeFiles/efectos_pec1.dir/utils/Timer.cpp.o
/cmake-build-release/CMakeFiles/efectos_pec1.dir/main.cpp.o
/cmake-build-release/CMakeFiles/clion-environment.txt
/cmake-build-release/CMakeFiles/clion-Release-log.txt
/cmake-build-release/CMakeFiles/cmake.check_cache
/cmake-build-release/CMakeFiles/CMakeConfigureLog.yaml
/cmake-build-release/CMakeFiles/rules.ninja
/cmake-build-release/CMakeFiles/TargetDirectories.txt
/cmake-build-release/Testing/Temporary/LastTest.log
/cmake-build-release/.ninja_deps
/cmake-build-release/.ninja_log
/cmake-build-release/build.ninja
/cmake-build-release/cmake_install.cmake
/cmake-build-release/CMakeCache.txt
/cmake-build-release/efectos_pec1
